
<div class="d-flex justify-content-center">
	<div class="card m-2 p-3 w-75">
		<div class="my-3">
			<span class="badge bg-danger fs-4 p-3 me-2 text-white rounded-pill">{{ open }} Open Tickets</span>
			<span class="badge bg-info fs-4 p-3 me-2 text-white rounded-pill">{{ pending }} Pending Tickets</span>
			<span class="badge bg-success fs-4 p-3 me-2 text-white rounded-pill">{{ closed }} Closed Tickets</span>
			<span class="badge bg-dark fs-4 p-3 text-white rounded-pill">{{ recent }} Recent Tickets</span>
		</div>
{% include 'tickets/tickets_list.html' %}
{% include 'tickets/paginator.html' %}
</div>
</div>
