<div class="d-flex justify-content-center">
	<div class="card m-2 p-3 w-75">
		<style>
			.no-click {
			  pointer-events: none;
			  opacity: 0.85;
			  cursor: default;
			}
		  </style>
		  
		  <div>
			<a href="javascript:void(0)" class="btn btn-danger rounded-pill no-click">{{ open }} Open Tickets</a>
			<a href="javascript:void(0)" class="btn btn-info rounded-pill no-click">{{ pending }} Pending Tickets</a>
			<a href="javascript:void(0)" class="btn btn-success rounded-pill no-click">{{ closed }} Closed Tickets</a>
			<a href="javascript:void(0)" class="btn btn-dark rounded-pill no-click">Recent</a> 

			{% comment %} <a href="{% url 'status-view' status='Open' %}" class="btn btn-danger rounded-pill">
				{{ open }} Open Tickets
			  </a>
			  
			  <a href="{% url 'status-view' status='Pending' %}" class="btn btn-info rounded-pill">
				{{ pending }} Pending Tickets
			  </a>
			  
			  <a href="{% url 'status-view' status='Closed' %}" class="btn btn-success rounded-pill">
				{{ closed }} Closed Tickets
			  </a>
			  
			  <a href="{% url 'status-view' status='Recent' %}" class="btn btn-dark rounded-pill">
				Recent
			  </a> {% endcomment %}
			  
		  </div>
{% include 'tickets/tickets_list.html' %}
{% include 'tickets/paginator.html' %}
</div>
</div>